doctype html
html(lang='es')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    title Tema Multi-proposito
    link(rel='shortcut icon', href=' ', type='image/x-icon')
    meta(name='description', content='Tema Multi-Proposito')
    meta(name='author', content='Hazanow, Montilla and Perez')
    meta(name='robots', content='index, follow')
    meta(name='keywords', content='tema, multi, proposito')
    link(rel='canonical', href='index.html')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // HOJAS DE ESTILO DEL TEMA POR FRAMEWORKS
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // HOJAS DE ESTILO DEL TEMA PERSONALIZADAS
    link(rel='stylesheet', href='css/style.css')
  body
    .GoToTop
      i.fa.fa-instagram.fa-fw.fa-3x
    include _nav
    block content
    include _footer
    // SECCION PIE DE PAGINA
    // AREA DE SCRIPTS DE LA PAGINA
    // JQUERY SCRIPTS FILES
    script(src='js/jquery.min.js')
    // BOOTSTRAP SCRIPTS FILES
    script(src='js/bootstrap.min.js')
    // PERSONAL SCRIPT FILES
    script(src='js/style.js')
    // FIN AREA DE SCRIPTS DE LA PAGINA
